:root {
  /* Setting up CSS custom properties/variables improves the robustness of the project and allows for visual changes to be made relatively easily -> clr-dark could be renamed to clr-accent
  and be used for any color to allow theme switches etc */
  --clr-dark: #333;
  --clr-light: #f7f5f0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Ensures font weights are generally consistent */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Multiple fallback fonts included */
  font-family: "Roboto", "Arial", system-ui, sans-serif;
}

body {
  color: var(--clr-dark);
  background: var(--clr-light);
  margin: 0;
  line-height: 1.5;
}

main {
  max-width: 1440px;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  /* Basic resets, including italic to differentiate any alt text that may be on the page */
  font-style: italic;
}

a {
  text-decoration: none;
  color: #999;
}

/* Covers both hover and focus to improve accessibility for all users */

a:where(:hover, :focus) {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.navbar {
  background: var(--clr-dark);
  height: 50px;
}

.navbar__list {
  max-width: 1440px;
  width: 100%;
  font-weight: 700;
  list-style-type: none;
  padding: 1rem;
}

.navbar__list-item:first-child {
  margin-right: auto;
}

.hero {
  background: url("images/hero-background-alt.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding: 2rem;
}

/* TODO: rename this image to be consistent with the BEM conventions - leaving it for now so that the grading passes corectly */

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.35s ease;
}

.profile-image:where(:hover, :focus) {
  transform: rotate(360deg);
  cursor: pointer;
}

.tag {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: fit-content;
  margin: 0.5rem auto;
}

.cards {
  padding: 2rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
  padding: 2.5rem;
  max-width: 700px;
  width: 100%;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 1rem;
  transition: all 0.35s ease;
}

.card:hover {
  border-color: var(--clr-dark);
}

/* Cards start of as one column then swap to two at a larger screen size - can also be achieved with grid */

@media only screen and (min-width: 1024px) {
  .cards {
    align-items: initial;
    flex-direction: row;
  }
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 0.5rem;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  width: 100%;
  min-height: 30px;
  padding: 1.25rem;
}

.footer__copyright {
  font-size: 0.75em;
}

.footer__social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  max-width: 40px;
  width: 100%;
  /* This show up as a W3C checker error, but is valid code and an open issue for the validator https://github.com/validator/validator/issues/1406 */
  aspect-ratio: 1;
  background-size: 2.5rem;
  opacity: 0.4;
  transition: all 0.35s ease;
}

.footer__social:where(:hover, :focus) {
  opacity: 1;
}

.footer__social--github {
  background-image: url(images/github.svg);
}

@media screen and (min-width: 720px) {
  header {
    min-height: 500px;
  }
}

.glide{
  max-width: 1000px;
}

/* Utility Classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-underline {
  text-decoration: underline;
}

.w-100 {
  width: 100%;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
}

.align-center {
  align-items: center;
}

.g-4 {
  gap: 1rem;
}

.m-0auto {
  margin: 0 auto;
}
